extends ../layout


block content
    div.panel.panel-default
        div.panel-heading.header-tag
            include tag
    div.panel-body
        include list
        include page
    div#myModal.modal.fade(role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                    h4#myModalLabel.modal-title 确认
                div.modal-body 确认删除主题吗？
                div.modal-footer
                    button.btn.btn-default(type="button" data-dismiss="modal") 关闭
                    button.btn.btn-primary(type="button" ,data-dismiss="modal",onclick="deleteTopic()") 确定


