extends ../layout

block content
		div.panel.panel-default
			div.panel-heading #{title}
			div.panel-body
				form#loginForm.form-horizontal
					div.form-group
							label.col-md-4.control-label 邮箱
							div.col-md-4
								input(name="userEmail").form-control
								div#userEmailAlert.alert-required Email is not right
					div.form-group
							input(type='hidden', name='_csrf', value=csrfToken)
							label.col-md-4.control-label 密码
							div.col-md-4
								input(name="passWord" type="password").form-control
								div#passWordAlert.alert-required 必须填写
					div.form-group
						div(style=";").col-md-3.col-md-offset-4
							button(type="submit").btn.btn-primary 登录
							a(href="/users/register" style="margin:0 10% 0 10%;").btn.btn-default  注册
							div#submitAlert.alert-required 邮箱地址不正确
